* {
    margin: 0;
    padding: 0;
}

/* CONTAINERS */

header {
    text-align: center;
    width: 50%;
}

.grid-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

header, .grid-container {
    margin: 20px auto;
}

/* COMPONENTS */

header input {
    padding: 1.5rem;
    width: 100%;
}

.thumbnail {
    height: 250px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}